h2 {
    color: #7DD180;
    font-family:'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    padding: 10px 0;
}
body {
    background-color: #26232c;
}

.custom-row {
    position: absolute;
    margin: 5px 20%;
    padding: 17px 15px;
    background-color: #322F39;
    width: 40%;
}
.custom-row-2 {
    position: relative;
    top: 68px;
    left: 40px;
    margin: 5px 20.5%;
    padding: 10px 15px;
    background-color: gainsboro ;
    width: 53%;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    
    font-size: 1.5em;
}
.custom-tasks {
    position: relative;
    left: 112px;
    margin: 63px 20%;
    padding: 0px 15px;
    background-color: rgb(37, 35, 43);
    width: 44.4%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

.toggle {
    position: relative;
   
    -webkit-appearance: none;
    appearance: none;
    outline: none;
  }
input.toggle {
    padding: 0 5px 18px 5px;
}
input,input[type=checkbox]:focus {
    outline: 0px;
}
 
  .toggle:after {
    content: "";
    position: absolute;
    transform: rotateZ(-42deg);
    animation: checkOut .0s ease-out forwards;
  }
  
  .toggle:checked:after {
    animation: checkIn .3s ease-out forwards;
  }
  
  @keyframes checkIn {
    0% {
      width: 24px;
      height: 24px;
      background: #3D3747;
      border-radius: 20px;
      box-shadow: inset 0 0 3px #2B2831;
    }
    100% {
      height: 14px;
      width: 20px;
      background: transparent;
      border-radius: 0;
      border-left: solid 4px #7ED180;
      border-bottom: solid 4px #7ED180;
    }
  }
  
  @keyframes checkOut {
    0% {
      height: 14px;
      width: 20px;
      background: transparent;
      border-radius: 0;
      border-left: solid 4px #7ED180;
      border-bottom: solid 4px #7ED180;
    }
    100% {
      width: 24px;
      height: 24px;
      background: #3D3747;
      border-radius: 20px;
      box-shadow: inset 0 0 3px #2B2831;
    }
  }

  .insert {
    top: 0;
    left: 60px;
    width: 100%;
    height: 60px;
    position: absolute;
    border: none;
    outline: none;
    font-size: 23px;
    font-family: inherit;
    color: #fff;
    background: #322F39;
  }
 
  .btn:focus, .btn:active {
      outline: none;
  }

  .custom-button {
    
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 25px;
    border-color: rgb(64, 61, 73);
    color: rgb(64, 61, 73);
    cursor:pointer;
   font-weight: bold;
   padding: 2px 10px;
   font-family:  Arial, Helvetica, sans-serif;
   outline: none;

   
    }
    .custom-button-selected,.custom-button-selected:hover {
    background-color: rgb(97, 95, 102);;
    background-repeat:no-repeat;
    border-radius: 25px;
    border-color: rgb(64, 61, 73);
    color: white;
    
    
   
    


    }
    .custom-button-red {
    
        background-color: red;
        background-repeat:no-repeat;
        border-radius: 25px;
        border-color: red;
        color: white;
        cursor:pointer;
       font-weight: bold;
       padding: 2px 10px;
       font-family:  Arial, Helvetica, sans-serif;
       
        }
        .custom-padding {
            padding: 10px 0;
        }
         
        div.row {
            border: 1px solid;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-color: rgb(78, 77, 77);
          }